@page "/{userId}/Salary"
@inherits SalaryBase
<!--InteractiveServer để chuyển trạng thái interactive-->
@rendermode InteractiveServer
@layout Layout.EmptyMainLayout

<PageTitle>Taxi Nam Thắng Manager</PageTitle>

<MudContainer MaxWidth="MaxWidth.ExtraLarge">
	<MudItem>
		<MudText Class="d-flex justify-center" Color="Color.Primary" Typo="Typo.h5">
			<MudIcon Class="mr-1" Icon="@Icons.Material.Filled.PlaylistAddCheckCircle" Color="Color.Primary"
					 Size="Size.Large" />BẢNG LƯƠNG
		</MudText>
		<MudText Class="d-flex justify-center" Typo="Typo.subtitle2"><i>@salary.salaryDate</i></MudText>
	</MudItem>
</MudContainer>
<div class="container">
	<div class="row gutters">
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			<div class="card">
				<div class="card-body">
					<div class="invoice-container">
						<div class="invoice-header">
							<!-- Row start -->
							<div class="row gutters">
								<div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
									<div class="invoice-details">
										<address class="text-success">
											@salary.userId<br>
											DOANH THU: @salary.revenue.ToString("N0")<br>
											TÔNG SỐ CA: @salary.businessDays<br>
										</address>
									</div>
								</div>
								<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
									<img src="/imgs/logo-namthang.png" width="100" height="70" />
								</div>
							</div>
							<!-- Row end -->
						</div>

						<div class="invoice-body">

							<!-- Row start -->
							<div class="row gutters">
								<div class="col-lg-12 col-md-12 col-sm-12">
									<div class="table-responsive">
										<table class="table custom-table m-0">
											<thead>
												<tr>
													<th>Nội dung</th>
													<th>Số tiền</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>
														<h6 class="text-success"><strong>Lương tạm tính</strong></h6>
														<p class="m-0 text-muted">
															"Lương tạm tính" là lương chưa trừ các khoản giảm trừ như:
															Ký Quỷ, Phạt sạc, BHXH, BHYT, BHTN, KPCĐ, thuế TNCN,...
														</p>
													</td>
													<td>
														<h6 class="text-success">
															<strong>@salary.salaryBase.ToString("N0")</strong>
														</h6>
													</td>
												</tr>
												@foreach (var item in Deductions.Where(x => x.Amount != 0))
												{
													<tr>
														<td>
															@item.Name (-)
															<p class="m-0 text-muted">
																@item.Name
															</p>
														</td>
														<td>@item.Amount.ToString("N0")</td>
													</tr>
												}
												<tr>
													<td>
														<h6 class="text-danger"><strong>Tổng trừ</strong></h6>
													</td>
													<td>
														<h6 class="text-danger">
															<strong>@salary.deductTotal.ToString("N0")</strong>
														</h6>
													</td>
												</tr>
												<tr>
													<td>
														<h5 class="text-success"><strong>LƯƠNG THỰC NHẬN</strong></h5>
													</td>
													<td>
														<h5 class="text-success"><strong>@salary.salaryNet.ToString("N0")</strong></h5>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<!-- Row end -->
						</div>
						<br />
						<MudItem Class="d-flex flex-column justify-center pa-3" Square="true">
							<MudText Class="text-center" Typo="Typo.body2">
								<i>Đường số 3, Ấp Sua Đũa, Xã Vĩnh Hòa Hiệp, Huyện Châu Thành, Tỉnh Kiên Giang</i>
							</MudText>
							<MudText Class="text-center" Typo="Typo.body2">
								©copyright 2024 - All rights reserved by Van.LT
							</MudText>
						</MudItem>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
